@import url('nature.css');

/* fix nature.css */
h1 a tt.xref {
    color: black;
}

a tt.xref {
    color: #005b81;
}

a.reference em {
    font-style: normal;
}

/* toc */
div.sphinxsidebar ul {
    margin-right: 4px;
}

/* previous/next topic */
div.sphinxsidebar p {
    padding-right: 10px;
}

/* tables */
table.docutils {
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
}

table.docutils th,
table.docutils td {
    padding: 1px 0px;
}

/* footnotes */
div p.rubric {
    margin-top: 1em;
}

/* image */
div#process img,
section#process img {
    margin-top: 0.5em;
}

/* toc trees on main page */
div#examples div#simple-pki ul,
div#examples div#advanced-pki ul,
div#examples div#expert-pki ul,
div#appendices ul,
section#examples section#simple-pki ul,
section#examples section#advanced-pki ul,
section#examples section#expert-pki ul,
section#appendices ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

/* reference links on main page */
div#references dt a.reference,
section#references dt a.reference {
    font-weight: bold;
}

/* code in notes */
div.note div.highlight {
    background-color: white;
}

/* stop word breaking */
div.body p {
    word-break: unset;
    word-wrap: unset;
    overflow-wrap: unset;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
}

/* hide versions badge */
div.rst-versions.rst-badge {
    display: none;
    visibility: hidden;
}

